<launch>
  <node pkg="turtlebot3_example" type="topic_image" name="topic_image" output="screen">
  </node>
  <node pkg="turtlebot3_example" type="topic_image_1" name="topic_image_1" output="screen">
  </node>
  <node pkg="turtlebot3_example" type="shoot" name="shoot" output="screen">
  </node>
</launch>
